/*----------------------------------------*/
/*  13.  Client Area
/*----------------------------------------*/
.client-area {
    @media #{$large-mobile}{
        padding: 70px 0;
    }
}
/*-- Client Slider --*/
.client-slider {
    & .client-item {
        & img {
            display: inline-block;
            opacity: 0.6;
            &:hover {
                opacity: 1;
            }
        }
    }
}